@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model libri_identity.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details - Book";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 style="color: lawngreen;">Details</h1>
    <hr />
    <dl class="row-center">
        <dt class="col">
            Title
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt class="col">
            Author
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class="col">
            Subject
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Subject)
        </dd>
        <dt class="col">
            Course
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Course)
        </dd>
        <dt class="col">
            Class
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Class)
        </dd>
        <dt class="col">
            Year
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Year)
        </dd>
        <dt class="col">
            Publisher
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Publisher)
        </dd>
        <dt class="col">
            ISBN
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Isbn)
        </dd>
        <dt class="col">
            Student
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.Book.Name_Student)
        </dd>
    </dl>

@if (SignInManager.IsSignedIn(User) && User.Identity.Name == Model.Book.Name_Student)
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Book.Id" class="btn btn-warning"><i class='far fa-edit'></i></a>
    </div>
}

<div class="text-center">
    <a asp-page="./Index">Back to List</a>
</div>
