@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model libri_identity.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Read - Book";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    ::-webkit-input-placeholder {
        font-style: italic;
    }

    :-moz-placeholder {
        font-style: italic;
    }

    ::-moz-placeholder {
        font-style: italic;
    }

    :-ms-input-placeholder {
        font-style: italic;
    }
</style>

<h1 class="text-center" style="color: lawngreen;">ALL OF USED BOOKS</h1>
<h6 class="text-center mb-2">Log in and add your used books or reserve one</h6>
<h6 class="text-center mb-4">For more details about the book click on the <u>Info button</u></h6>


<div class="table-responsive">
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Subject
            </th>
            <th>
                Year
            </th>

            <th>
                ISBN
            </th>
            <th></th>
            <th>
                Book
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isbn)
            </td>
            @if (SignInManager.IsSignedIn(User) && User.Identity.Name == item.Name_Student)
            {
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info"><i class='fas fa-info-circle'></i></a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class='far fa-edit'></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class='fa fa-remove'></i></a>
                </td>
            }
            else
            {
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info"><i class='fas fa-info-circle'></i></a>
                </td>
            }
        <td>
            @if (@item.State == 0)
            {
                <a asp-page="/BookingCRUD/Create" asp-route-id_book="@item.Id" class="btn btn-success"><i class='fa fa-check'></i></a>
            }
            else
            {
                <p style="color: red">Already booked</p>
            }
        </td>
        </tr>
        }
    </tbody>
</table>
</div>

<p class="text-center">
    <a asp-page="Create">Create New</a>
</p>

<form method="post" class="text-center">
    <h5>Search a book</h5>
    <input type="text" asp-for="Course_filter" placeholder="Course of the book" />
    <input type="text" asp-for="Class_filter" placeholder="Grade of the book" />
    <input type="text" asp-for="Subject_filter" placeholder="Subject of the book" />
    <input type="text" asp-for="Student_filter" placeholder="Email of the student" />
    <div class="mt-2">
        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
    </div>
</form>